name: Integration tests

on:
  pull_request:

jobs:
  charmcraft-channel:
    runs-on: ubuntu-24.04
    outputs:
      channel: ${{ steps.charmcraft.outputs.channel }}
    steps:
      - uses: actions/checkout@v4
      - id: charmcraft
        run: echo "channel=$(cat .charmcraft-channel)" >> $GITHUB_OUTPUT

  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    needs: [charmcraft-channel]
    secrets: inherit
    strategy:
      matrix:
        arch:
          # built on azure, test on self-hosted
          - id: amd64
            builder-label: ubuntu-22.04
            tester-arch: AMD64
            tester-size: large
            modules: '["test_charm"]'
          # built and test on on self-hosted
          # NOTE: (mateo) Disabled until we support VMs on arm64.
          # - id: arm64
          #  builder-label: ARM64
          #  tester-arch: ARM64
          #  tester-size: large
          #  modules: '["test_charm"]'
        base: ["ubuntu@22.04", "ubuntu@24.04"]
    with:
      identifier: ${{ matrix.arch.id }}
      builder-runner-label: ${{ matrix.arch.builder-label }}
      charmcraft-channel: ${{ needs.charmcraft-channel.outputs.channel }}
      modules: ${{ matrix.arch.modules }}
      juju-channel: 3/stable
      load-test-enabled: false
      provider: lxd
      self-hosted-runner: true
      self-hosted-runner-arch: ${{ matrix.arch.tester-arch }}
      self-hosted-runner-label: ${{ matrix.arch.tester-size }}
      test-timeout: 600
      test-tox-env: integration
      trivy-fs-enabled: false
      trivy-image-config: "trivy.yaml"
      tmate-debug: true
      with-uv: true
      zap-enabled: false
